html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial;
    width: 100%;
}

body {
    background-color: #fafafb;
}

normal {
    font-weight: 300;
}

h1 {
    color: #85d1f8;
    font-weight: 300;
}

h2 {
    color: #f0576c;
    font-weight: 300;
}

p {
    color: #444;
    font-weight: 300;
}

a {
    color: #f0576c;
    transition: 0.6s ease;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #85d1f8;
    transition: 0.6s ease;
}

.button {
    background-color: #f0576c;
    padding: 10px;
    color: #fff;
    font-weight: 400;
    border-radius: 2px;
}

.round {
    border-radius: 100%;
}

#nav {
    width: 100%;
    background-color: #85d1f8;
    color: #fafafb;
    height: 100px;
    line-height: 100px;
}

#logo {
    float: left;
    padding-left: 60px;
    color: #fafafb;
    font-size: 30px;
    text-decoration: none;
}

#navLinks {
    float: right;
    padding-right: 60px;
    word-spacing: 20px;
}

#navLinks a {
    color: #fafafb;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 4px solid #85d1f8;
    transition: 0.6s ease;
}

#navLinks a.active {
    border-bottom: 4px solid #f0576c;
}

#navLinks a:hover {
    border-bottom: 4px solid #f0576c;
    transition: 0.6s ease;
}

@media screen and (min-width: 960px) {
    #content {
        width: 960px;
    }
    
    .typed {
        width: 732px;
        float: right;
    }
    
    #portrait {
        float: left;
    }
}

#content {
    padding-top: 100px;
    margin: 0 auto;
}

.typed {
    text-align: center;
    line-height: 130px;   
}