html,
body {
  background: #00C9FF;
  background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
  background: linear-gradient(to right, #92FE9D, #00C9FF);
  color: #2f3640;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #2f3640;
}

a:hover {
  text-decoration: none;
  color: #2f3640;
}

#textHero {
  max-width: 500px;
}

#textHero.work {
  border-left: 1px dotted #2f3640;
  padding-left: 20.5px;
}

#textHero li {
  list-style-type: disc;
  color: #fff;
  font-size: 30px;
}

#textHero h1 {
  color: #2f3640;
  padding-bottom: 5px;
}

#textHero p {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #2f3640;
}

#nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 80px;
  padding-right: 80px;
  top: 0;
  z-index: 200;
}

#title {
  font-weight: 400;
  font-size: 30px;
}

#links {
  position: absolute;
  right: 80px;
  word-spacing: 20px;
}

#links a {
  color: #2f3640;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s all ease;
}

#links a:hover {
  color: #fff;
}

.box {
  display: flex;
  justify-content: left;
  left: 80px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
}

.box--bottom {
  align-items: flex-end;
}

.box--center {
  align-items: center;
}

#linkDrawer {
  background-color: rgba(0,0,0,0.3);
  height: 40px;
  border-radius: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  color: #fff;
  cursor: pointer;
}

.material-icons {
  color: #fff;
  margin-left: 30px;
}

.material-icons:nth-last-child(1) {
  margin-right: 10px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.7);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 31s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 100%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}




.bar {
  width: 100px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  animation-duration: 10s;
  &.bar_0 {
    width: 30%;
    animation-name: bar_animate_0;
  }
  &.bar_1 {
    width: 50%;
    animation-name: bar_animate_1;
  }
  &.bar_2 {
    width: 60%;
    animation-name: bar_animate_2;
  }
  &.bar_3 {
    width: 70%;
    animation-name: bar_animate_3;
  }
  &.bar_4 {
    width: 75%;
    animation-name: bar_animate_4;
  }
  &.bar_5 {
    width: 100%;
    animation-name: bar_animate_5;
  }
}

$percentages: (30, 50, 60, 65, 75, 100);
$factor: 20;
$interval: 0.5;
$previousAnimation: 0;
@for $i from 1 through 6 {
  @keyframes bar_animate_#{$i - 1} {
    @if $i > 2
     {
      $previousAnimation: $previousAnimation + ($factor * nth($percentages, $i - 1) / 100) + $interval;
      0%, #{($previousAnimation)}% {
      transform: scaleX(0);
      transform-origin: left;
     }
    }
    @else if $i == 2{
      $previousAnimation: $previousAnimation + ($factor * nth($percentages, $i - 1) / 100) + $interval;
      0%, #{$previousAnimation }%
      {
      transform: scaleX(0);
      transform-origin: left;
      }
    }
    @else
    {
      0%
      {
      transform: scaleX(0);
      transform-origin: left;
      }
    }

    #{$previousAnimation + ($factor * nth($percentages, $i) / 100)}%, 100%
      {
      transform: scaleX(1);
      transform-origin: left;
      }
  }
}
